body{
    background-color: azure ;
}

/* jesli jest więcej elementow to musimy zrobić
 .jakasKlasa
 i w divie napisać class="jakasKlasa" zamiast id!!!!!
 */
/* #-moze byc jeden taki element, ten element jest unikatowy */
#container{
    width:100%;
}

#logo{

}

#nav{
    width:100%;
    text-align: center;
    border-bottom: solid 1px;
}

#nav > ul > li{
    display: inline-block;
    width: 19%;
}

#nav > ul > li:hover{
    background-color: aqua;
}

#contant{
    width:100%;
}

#wyniki_kandydatow{
    border-bottom: solid 1px;
    border:solid 2px;
}

#wyniki{
    float:left;
    text-align: center;
    width:40%;
}

#tabela_wyniki{
    width: 100%;
}

.wiersz_glowny{
    background-color: aquamarine;
    height: 60px;
    font-size: 25px;
}

.wiersz1{
    background-color: white;
    height: 60px;
}

.wiersz2{
    background-color: lightgray;
    height: 60px;

}

#pole_wykresu{
    float:left;
    height: 1000px;
    width:60%;
}

#wykres{
    width: 100%;
    height: 1000px;
}


#statystyki_i_frekfencja{
}

#statystyki{
    float:left;
    width:50%;
}

#statystyki_tabela{
    width: 100%;
}

#mapa{
    float:left;
    width:50%;
    height: 1000px;
}

#footer{
    clear:both;
}